.about-section
  min-height: 75%
  padding: 75px 0 75px 0
  background-color: rgba($charcoal,0.6)
  h2
    margin: 10px
    padding: 10px
  span.input-group-label
    color: $charcoal
    background-color: $baby-blue
  @include breakpoint(small down)
    padding: 10px 0 10px 0
  h5
    color: white
  input, textarea
    border-radius: 5px
    box-shadow: 3px 3px 10px $charcoal
  .button
    width: 100%
    height: 100%
    border: none
    background-color: $teal
    color: $charcoal
    &:hover
      background-color: $pink
      color: white

.karintar
  height: 300px
  width: 300px
  border-radius: 50%
  display: block
  margin: 15px auto

.social-container
  margin: auto
  width: 200px
  height: 100%

.fb
  @include social-icon('/assets/img/fb.svg')
.ig
  @include social-icon('/assets/img/ig.svg')
.tw
  @include social-icon('/assets/img/tw.svg')
.ml
  @include social-icon('/assets/img/ml.svg')
