.contact-section
  background-color: rgba($charcoal,0.6)
  color: white
  width: 100%
  padding: 75px 0 75px 0
  label
    color: white
  input, textarea
    border-radius: 5px
    box-shadow: 3px 3px 10px $charcoal
  button.button
    background-color: $teal
    color: $charcoal
    &:hover
      background-color: $pink
      color: white

.contact-out
  padding: 5% 0

.contact-in
  padding: 10% 0
  i
    font-size: 24px

  p
    font-size: 18px
