.faq-section
  min-height: 75%
  padding: 75px 0 75px 0
  @include breakpoint(small down)
    padding: 10px 0 10px 0

  .accordion-title
    color: $charcoal
    font-size: 16px
    background-color: $teal

  .accordion-content
    color: $charcoal
    background-color: $baby-blue
    text-indent: 20px
    ul
      text-indent: 0
      padding: 20px
