.hero
  width: 100%
  height: 95vh
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/img/hero-bg-min.jpg) no-repeat top center fixed
  background-size: cover
  //filter: blur(1.5px)
  @include breakpoint(medium down)
    height: 100%
    background-size: contain

.welcome-text
  margin-top: 25vh
  h1
    color: white
    font-weight: bolder
    z-index: 1000
  h5
    color: white
    // opacity: 0.9
    font-style: italic
    z-index: 1000
    &:last-of-type
      color: white
      opacity: 1
  @include breakpoint(small down)
    margin-top: 5vh


// .contact-us-hero
//   width: 40%
//   margin: auto
//   padding: 10px
//   background-color: $pink-alt
//   border-radius: 10px
