.services-section
  min-height: 75%
  padding-top: 75px
  h3
    margin-top: 75px
  h2
    margin: 10px
    padding: 10px
    font-weight: bolder
  .button
    background-color: $charcoal
    color: $baby-blue
    &:hover
      background-color: $teal
      color: $charcoal
  .button-download
    background-color: $teal
    color: $charcoal
    padding: 10px
    &:hover
      background-color: $baby-blue
      color: $charcoal

  @include breakpoint(small down)
    padding-top: 10px
  @include breakpoint(medium down)
    padding: 10px

.ct
  display: none

.service-img
  width: 379.98px
  height: 255.98px

.service-img1
  @extend .service-img
  background: url(/assets/img/service-img1.jpg) no-repeat center center
  background-size: cover

.service-img2
  @extend .service-img
  background: url(/assets/img/service-img2.jpg) no-repeat center center
  background-size: cover

.service-img3
  @extend .service-img
  background: url(/assets/img/service-img3.png) no-repeat center center
  background-size: cover

.beforeAfter
  max-width: 1200px
  max-height: 75vh
  @include breakpoint(medium down)
    max-width: 100%

.beforeImg1
  @extend .beforeAfter
  width: 1200px
  height: 650px
  background: url(/assets/img/bfore-1-min.png) no-repeat top center
  background-size: cover
.beforeImg2
  @extend .beforeAfter
  width: 1200px
  height: 650px
  background: url(/assets/img/bfore-2-min.png) no-repeat top center
  background-size: cover
.beforeImg3
  @extend .beforeAfter
  width: 1200px
  height: 650px
  background: url(/assets/img/bfore-3-min.png) no-repeat top center
  background-size: cover
.beforeImg4
  @extend .beforeAfter
  width: 1200px
  height: 650px
  background: url(/assets/img/bfore-4-min.png) no-repeat top center
  background-size: cover
    height: 325px
.beforeImg5
  @extend .beforeAfter
  width: 1200px
  height: 650px
  background: url(/assets/img/bfore-5-min.png) no-repeat top center
  background-size: cover

@include breakpoint(medium down)
  .testimonial-container ul.orbit-container
    height: 100%!important

.testimonial-container button
  background: white
  .is-active button
    background: $charcoal

.centered-text
  text-align: center

.quote-marks
  font-size: 100px
  font-family: Garamond
  color: white

.move-right
  position: relative
  text-align: right

.quote
  border-radius: 5px
  p
    font-weight: 300

@media only screen and (max-width: 40em)
  .quote p
    padding-left: 20px

.client
  margin-left: 25px
  margin-bottom: 80px
  .photo
    background-color: #ccc
    border-radius: 100px
    width: 70px
    height: 70px
    float: left
    margin-right: 15px

  .carrie
    @extend .photo
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Carrie_Preston_2009_(cropped).jpg/180px-Carrie_Preston_2009_(cropped).jpg') no-repeat center center
    background-size: cover

  .kate
    @extend .photo
    background: url('http://content.sitezoogle.com/u/145382/d91ce042926fde53289f87a2b4885b5ef03be176/photo/2619901.jpg?1406345052') no-repeat top center
    background-size: cover

  .dianne
    @extend .photo
    background: url('http://media.graytvinc.com/images/Dianne-Bio.jpg') no-repeat top center
    background-size: cover

  .cindy
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg') no-repeat center
    background-size: cover

  .stephanie
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/evagiselle/128.jpg') no-repeat center
    background-size: cover

  .maya
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg') no-repeat center
    background-size: cover

  .jamie
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/ladylexy/128.jpg') no-repeat center
    background-size: cover

  .tim
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/barthchalvet/128.jpg') no-repeat center
    background-size: cover

  .ray
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/tonypeterson/128.jpg') no-repeat center
    background-size: cover

  .leilani
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/nettatheninja/128.jpg') no-repeat center
    background-size: cover

  .megan
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/esthercrawford/128.jpg') no-repeat top center
    background-size: cover

  .taylor
    @extend .photo
    background: url('https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg') no-repeat top center
    background-size: cover

  p
    position: relative
    top: 5px
    &:nth-child(2)
      font-size: 18px
      font-weight: 500
      margin-bottom: 0
    &:nth-child(3)
      font-size: 16px
      font-weight: 400
      color: $teal


//Booking Form

#booking-form-modal, #booking-form-thank
  background-color: $teal
  border-radius: 10px
  h4
    color: $charcoal
    padding: 10px 0 10px 0
  input, textarea
    // border-radius: 5px
    box-shadow: 3px 3px 10px $charcoal
  .button
    width: 100%
    height: 100%
    border: none
    background-color: $charcoal
    color: white
    &:hover
      background-color: $pink
      color: $charcoal


#booking-form-thank
  @include breakpoint(small down)
    margin-top: 50px
