//------------------------------------------------------
// Fonts
//------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,400italic,500,700)

//------------------------------------------------------
// Colors
//------------------------------------------------------

$pink: #CD853F
$pink-alt: #e85a71
$baby-blue: #d8e9ef
$teal: #82CAD8
$charcoal: #454552

//------------------------------------------------------
// Gloabal Style
//------------------------------------------------------

body
  background: linear-gradient(rgba($charcoal, 0.4), rgba($charcoal, 0.4)),url('/assets/img/bg.jpg') no-repeat bottom center fixed
  //background: url('/assets/img/bg.jpg') no-repeat bottom center fixed
  //background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),url('/assets/img/bg.jpg') no-repeat bottom center fixed
  background-size: cover
  color: white
  max-width: 100%
  @include breakpoint(medium down)
    width: 100%
    height: 100%
    background: linear-gradient(rgba($charcoal, 0.4), rgba($charcoal, 0.4)),url('/assets/img/bg-medium.jpg') no-repeat bottom center fixed
    background-repeat: repeat-y
    background-size: contain
    font-size: 16px
    font-weight: normal
  @include retina
    //font-weight: 300

  font-family: 'Fira Sans', sans-serif
  a
    color: $baby-blue

.logo
  width: 100px
  height: 100%
  margin: 10px
  @include breakpoint(medium down)
    width: 75px
    margin: 5px
  //background: url('/assets/img/logo_v1.png')
  //background-size: contain
  //background-repeat: no-repeat
  //background-position: center
  //text-indent: -9999px
  z-index: 1001

.top-bar, footer
  background-color: white
  transition: all 300ms ease
  z-index: 1001
  width: 100%
  height: 88px
  padding: 5px 75px 5px 75px
  ul
    background-color: white
  a
    color: $charcoal
    &:hover
      color: $pink

.top-bar-right
  margin-top: 20px //added to line up menu with logo
  z-index: 1001

.title-bar
  background: $pink
  padding: 0
  height: 27px
  width: 35px
  position: fixed
  top: 10px
  right: 15px
  z-index: 1006

.menu-icon
  position: fixed
  width: 25px
  height: 21px
  right: 15px
  top: 15px
  z-index: 1007

#mobile-menu
  background-color: white
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 1005
  a
    color: $pink
    z-index: 1006

.no-js
  @include breakpoint(small only)
    .top-bar
      display: none

  @include breakpoint(medium)
    .title-bar
      display: none

footer
  background-color: $charcoal
  p
    color: white

hr.style-two
    border: 0
    height: 1px
    max-width: 90%
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0))

//------------------------------------------------------
// Mixins
//------------------------------------------------------

@mixin social-icon($icon-img)
  width: 50px
  height: 50px
  margin: 0
  padding: 0
  float: left
  background: url($icon-img)
  background-repeat: no-repeat
  background-size: contain
  background-position: center center
  &:hover
    transform: scale(1.2)
