<div id="home" data-sticky-container>
  <div class="title-bar" data-responsive-toggle="mobile-menu" data-hide-for="large">
    <button class="menu-icon float-right" data-toggle data-dropdown-menu></button>
    <ul id="mobile-menu" class="dropdown menu vertical text-center" data-options data-dropdown-menu>
      <li><a href="#home">Home</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>

  <div class="top-bar show-for-large" data-sticky data-options="marginTop:0;" data-sticky-on="medium">
    <div class="title-bar-left">
      <div class="top-bar-title" >
        <div class="logo show-for-medium">
          <img src="assets/img/logo_v1.png" alt="Island Tan 2 Go Logo" />
        </div>
      </div>
    </div>
    <div class="responsive-menu show-for-large">
      <div class="top-bar-right">
        <ul class="dropdown menu" data-magellan>
          <li><a href="#home">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<div class="expanded row hero">
  <div class="large-8 columns">
    <div class="large-10 columns text-center welcome-text">
      <h1>Island Tan 2 Go</h1>
      <h4>Mobile Airbrush Tanning</h4>
      <h5 class="large-10 large-centered columns"><hr class="style-two">Why come to the salon when the salon can come to you?  Tanning in the convenience and privacy of your own home has never been so quick and easy.  Our highly trained tanning technician sets up a no mess tent and will leave you glowing in less than 15 minutes!</h5>
      <br>
      <div class="contact-us-hero">
        <h3 class="large-12 columns"><strong>Contact Us Today!</strong><br></h3>
        <a class="show-for-small-only" href="tel:1-401-286-2889">401.286.2889</a>
        <p class="show-for-medium">401.286.2889</p>
        <a href="mailto:&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;">&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;</a>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div id="services" class="services-section" data-magellan-target="services">
    <div class="row section">
      <h2 class="text-center">Services</h2>
      <hr class="style-two medium-11 medium-centered columns">
      <p class="medium-11 medium-centered columns text-center">Airbrush Tanning is the newest trend for maintaining a safe and glowing tan! It is a great alternative to harmful sun exposure, tanning beds and even tanning lotions you can buy in the store. Our mission is to provide clients with a consistent and natural looking tan that is customized to your particular skin type and preference.  Experience our TOP OF THE LINE products and services!</p>
      <p class="text-center"><strong>Click on a service below to book it. We accept cash and all major credit cards for your conveience!</strong> <br><br><em>*Traveling more than 30 minutes requries a travel fee</em></p>
      <br>
      <br>
      <div class="row small-up-1 medium-up-3 large-up-3">
        <div class="column text-center">
          <div class="thumbnail service-img1"></div>
          <!-- <img src="assets/img/service-img1.jpg" class="thumbnail service-img" alt="Spray Tanning Service Image"> -->
          <br class="hide-for-small-only">
          <br class="hide-for-small-only">
          <h4>Full Body Spray Tanning</h4>
          <hr class="style-two medium-11 medium-centered columns hide-for-small-only">
          <ul class="no-bullet">
            <li data-open="booking-form-modal" class="ct text-center"><div class="small button expanded service">Full Body Spray Tan - $35.00</div></li>
            <li data-open="booking-form-modal" class="hi text-center"><div class="small button expanded service">Full Body Spray Tan - $55.00</div></li>
          </ul>
        </div>
        <div class="column text-center">
          <div class="thumbnail service-img3 hide-for-small-only"></div>
          <!-- <img src="assets/img/service-img3.png" class="thumbnail service-img hide-for-small-only" alt="Competition Spray Tanning Service Image"> -->
          <br class="hide-for-small-only">
          <br class="hide-for-small-only">
          <h4>Competition Spray Tan</h4>
          <hr class="style-two medium-11 medium-centered columns hide-for-small-only">
          <ul class="no-bullet">
            <li data-open="booking-form-modal" class="text-center"><div class="small button expanded service">Body Building - $75.00 (travel fees apply)</div></li>
          </ul>
        </div>
        <div class="column text-center">
          <div class="thumbnail service-img2 hide-for-small-only"></div>
          <!-- <img src="assets/img/service-img2.jpg" class="thumbnail service-img hide-for-small-only" alt="Tanning Party Service Image"> -->
          <br class="hide-for-small-only">
          <br class="hide-for-small-only">
          <h4>Spray Tan Parties</h4>
          <hr class="style-two medium-11 medium-centered columns hide-for-small-only">
          <ul class="no-bullet">
            <li data-open="booking-form-modal" class="text-center"><div class="small button expanded service">3-4 People - $30.00 a person</div></li>
            <li data-open="booking-form-modal" class="text-center"><div class="small button expanded service">5+ People - $25.00 a person</div></li>
          </ul>
        </div>
      </div>
      <br class="hide-for-small-only">
      <br class="hide-for-small-only">
      <div class="text-center">
        <a href="assets/docs/tan_care_instructions.pdf" target="_blank" class="small button-download">Download Pre and Post Tanning Instructions Here</a>
      </div>

      <br class="hide-for-small-only">
      <br class="hide-for-small-only">

      <div class="reveal" id="booking-form-modal" data-reveal>
        <form data-abide novalidate id="booking-form" class="validate">
          <!-- <input type="hidden" name="_next" value="" /> -->
          <input type="hidden" name="_subject" value="New Appointment Request Submission!" />
          <!-- <input type="hidden" name="_cc" value="lance@texobyte.com" /> -->
          <input id="gotcha" type="text" name="_gotcha" style="display:none" />
          <div data-abide-error class="alert callout" style="display: none;">
            <p><i class="fi-alert"></i> There are some errors in your form.</p>
          </div>
          <h4 class="text-center">Appointment Request</h4>
          <hr class="style-two medium-11 medium-centered columns">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>First Name*
                <input id="firstName" type="text" name="firstName" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>Last Name*
                <input id="lastName" type="text" name="lastName" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>Phone*
                <input id="phone" type="text" name="phone" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>Email*
                <input id="email" type="email" name="email" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>Select Menu
                <select id="service" name="service" required>
                  <option value=""></option>
                  <option class="ct" value="Full Body CT">Full Body Spray Tan</option>
                  <option class="hi" value="Full Body HI">Full Body Spray Tan</option>
                  <option value="bodybuilding">Body Building</option>
                  <option value="party">Party (3-4 People)</option>
                  <option value="party5">Party (5+ People)</option>
                </select>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <div class="medium-up-2">
                <div class="column text-center">
                  <label>Date/Time Request 1
                    <input type="text" class="span2" value="" id="datepicker-appt" required>
                  </label>
                </div>
                <div class="column text-center">
                  <label>Date/Time Request 2 (optional)
                    <input type="text" class="span2" value="" id="datepicker-appt2">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>
                Message
                <textarea id="inputMessage" name="message"></textarea>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <button class="button float-right" name="bookingForm" type="submit" form="booking-form" value="send">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div class="reveal" id="booking-form-thank" data-reveal>
        <div id="booking-form-thank">
          <h2 class="text-center">Thank You!</h2>
          <hr class="style-two medium-11 medium-centered columns">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="text-center"><strong>We will contact you shortly to confirm your appointment!</strong></h5>
          <br>
          <div class="row">
            <p class="text-center">For promos and specials sign up for the newsletter!</p>
              <div class="medium-10 medium-centered">
                <div id="mc_embed_signup">
                  <form action="//islandtan2go.us13.list-manage.com/subscribe/post?u=65c850193d9c56821af1fbd39&amp;id=93084e85ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                      <div class="input-group">
                        <input type="email" value="" name="EMAIL" class="input-group-field" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65c850193d9c56821af1fbd39_93084e85ce" tabindex="-1" value=""></div>
                        <div class="input-group-button">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="input-group-button button">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <!--End mc_embed_signup-->
              </div>
            </div>
            <div class="row">
              <hr class="style-two medium-3 medium-centered columns">
              <div class="social-container">
                <a href="https://www.facebook.com/islandtan2go/", target='_blank'><div class="fb"></div></a>
                <a href="https://twitter.com/islandtan2g", target='_blank'><div class="tw"></div></a>
                <a href="https://www.instagram.com/island.tan.2.go/", target='_blank'><div class="ig"></div></a>
                <a href="mailto:&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;"><div class="ml">
              </div></a>
              </div>
            </div>
        </div>
      </div>

      <div class="medium-12 columns medium-centered hide-for-small-only">
        <h3 class="text-center">Before & After</h3>
        <br>
        <div class="orbit" role="region" aria-label="Before and After Pictures" data-orbit>
          <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
          <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
          <ul class="orbit-container">
            <li class="is-active orbit-slide text-center">
              <div class="beforeAfter beforeImg1"></div>
            </li>
            <li class="orbit-slide text-center">
              <div class="beforeAfter beforeImg2"></div>
            </li>
            <li class="orbit-slide text-center">
              <div class="beforeAfter beforeImg3"></div>
            </li>
            <li class="orbit-slide text-center">
              <div class="beforeAfter beforeImg4"></div>
            </li>
          </ul>
        </div>
      </div>

      <h3 class="text-center">Testimonials</h3>
      <div class="orbit testimonial-container" role="region" aria-label="Testimonials" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
        <nav class="orbit-bullets">
         <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
         <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
         <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
         <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
         <button data-slide="4"><span class="show-for-sr">Second slide details.</span></button>
         <button data-slide="5"><span class="show-for-sr">Third slide details.</span></button>
         <button data-slide="6"><span class="show-for-sr">Fourth slide details.</span></button>
         <button data-slide="7"><span class="show-for-sr">Second slide details.</span></button>
         <button data-slide="8"><span class="show-for-sr">Third slide details.</span></button>
         <button data-slide="9"><span class="show-for-sr">Fourth slide details.</span></button>
         <button data-slide="10"><span class="show-for-sr">Second slide details.</span></button>
         <button data-slide="11"><span class="show-for-sr">Third slide details.</span></button>
       </nav>
        <ul class="orbit-container">
          <li class="is-active orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>I play Arlene Fowler on HBO's hit show "True Blood". I have to be tan for the show, but I don't want to be in the sun. Karin's spray tan is far superior to any of the sunless products or spray tan machines I've used before. It really looks natural, and the makeup artists were thrilled when I came into work with her tan on my body. They loved the color and the way it held up at work. I will definitely come back for more!</p>
            			</div>
            			<div class="client">
            				<div class="photo carrie"></div>
            				<p>Carrie Preston</p>
            				<p>Actress</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p class="">Karin's tan lasted like crazy, looked amazing and made the entire process of getting a spray tan fun, easy and incredibly convenient. She is fast, professional and truly an artist-- I have a very "in-between" natural skin tone and she mixed exactly the right color to make me look like I had a glowing perfect tan. I got tons of compliments and when it faded, it did so evenly so I never had that awkward patchy stage. She is A-List all the way.</p>
            			</div>
            			<div class="client">
            				<div class="photo kate"> </div>
            				<p>Kate Rigg</p>
            				<p>Executive Producer Oxygen Networks and Comedy Correspondent for Dr. Phil</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>I work in the news business and can't tell you how critical I can be when it comes to any beauty product or routine. So when I made an appointment for a spray tan with Karin I didn't get my hopes up. After rearranging her schedule for me several times, Karin came to my home, set up her portable booth and a few minutes later I had a gorgeous natural looking tan. My friends, who have nicknamed me "paleness" because of my fair skin, can't get over how pretty it looks. Can't wait to see Karin again soon...I know she'll make me more beautiful for my upcoming wedding day.</p>
            			</div>
            			<div class="client">
            				<div class="photo dianne"> </div>
            				<p>Dianne Derby</p>
            				<p>Co-Anchor, KKTV 11 News</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>We planned a quaint and friendly gathering of about 40 people in Carmel, Ca. It was quite an overwhelming concept to plan such a wedding and reception from across the country in Jacksonville, Florida! We found IslandTan2Go.com online (with some others that we quickly eliminated). Your website was very informative and the pictures helped us so much being cross country. We loved that the concept of getting beautifully airbrushed tanned for the wedding would happen at the home we were staying at in Carmel, CA. We didn't know our way around, and we didn't have the time to tan 3 of us at a Salon. Karin was very friendly and professional. She was very helpful and fun in the precarious positions we found ourselves in during the drying process. Karin was also very confidential. Thanks to Karin and IslandTan2Go.com on the West Coast!!</p>
            			</div>
            			<div class="client">
            				<p>Cindy Chisholm L'Herault (the Bride) & Robin Lawson (Wedding Planner)</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>I was planning a wedding in Hawaii, and I live in Louisiana. I had heard from a friend how amazing air brush tanning was rather than mystic tan, so I googled air brush tanning on Oahu, and I found a couple salons, but they were ridiculously over-priced, and almost impossible to get an appointment. I was due to arrive in Oahu on Thursday, and started emailing places on Oahu that Monday, and I happen to find Karin's site, and saw her fantastic prices AND that she travels to your home. I emailed her, and got a response that same day, and she set up an appointment for me on the day and time that was best for me. She was very professional; came to my mother's house with all her supplies, and air brushed me in the comfort of my own home. Then gave me great advice and supplies on how to keep my tan looking great for my wedding day. The tan looked amazing, and very natural, and I looked great on my wedding day. I followed her exact directions, and never looked orange or streaky, and everyone thought my tan was real. She did a great job, and was SO convenient-I would HIGHLY recommend her to anyone looking for a great tan with great service.</p>
            			</div>
            			<div class="client">
            				<p>Stephanie J.</p>
                    <p>Bride</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>This was my first time doing an airbrush tan. I wanted to try because I'm extremely white but don't have the time to frequent the beach. This spray tan was AMAZING!! The process was simple and the results were so good!! I WAS REALLY TAN!! Thank you, Karin!!</p>
            			</div>
            			<div class="client">
            				<p>Maya R.</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>I can honestly say that your blend of tanning solution solidified my first place win in the Team Hawaii Bodybuilding and Figure Competition! This airbrush tan enhanced all the hardwork, dedication, and training that i put into competing. It really brought out the confidence in me and the definition in my body! I loved it! Your airbrush tanning will always be at the top of my list when it comes to showtime. Thank you so much Karin!</p>
            			</div>
            			<div class="client">
            				<p>Jamie H.</p>
                    <p>2008 Competitor of Team Hawaii Bodybuilding Championship ( First Place) and The Paradise Cup.</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>Hi Karin! I have to say this, I decided to try the standard ProTan coloring for the Paradise Cup because I felt like the spray tan left me too "red." However, after reviewing pictures from Team Hawaii and the Cup, your spray tan was hands-down the better coloring and the ease of application made it ten times better than the multiple coats of ProTan. I think I would have better appreciated the spray if I had done it the night before as was recommended. In my future comps, I will definitely be looking for you to do my coloring!</p>
            			</div>
            			<div class="client">
            				<p>Tim G.</p>
                    <p>2008 Competitor of Team Hawaii Bodybuilding Championship and The Paradise Cup</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>I highly recommend Karin to anyone looking for a tan. She is thorough, complete, and very professional. The tan is very consist ent, the color is excellent, and I never came out looking orange! As a model, I use only Karin. She is THE best on the Island.</p>
            			</div>
            			<div class="client">
            				<p>Ray H.</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>Thank you for coming over to my home and making it so convenient for me to get a perfect tan in preparation for The Paradise Cup! My skin never looked so evenly tanned and glowing! I look forward to working with you again soon on my next competition in April! Thanks again Karin!</p>
            			</div>
            			<div class="client">
            				<p>Leilani J.</p>
                    <p>2008 Competitor of Team Hawaii Bodybuilding Championship and The Paradise Cup</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>I've done several physique competitions and have always dreaded painting on my tan. It would take several times and with having 2 kids it could get messy. My tans never seemed to be as dark as the other competitors on stage. When I did my last competition, I found out about Island Tans 2 Go and contacted her immediately. When I saw that I only had to be spray painted once for the competition I made an appointment. It was a perfect all over even tan and was as dark or darker than anyone else there! Karin went out of her way to make everything perfect for me. Thanks Karin!</p>
            			</div>
            			<div class="client">
            				<p>Megan C.</p>
                    <p>2008 Competitor of The Paradise Cup and Owner of Extreme Beach Boot Camp in Honolulu</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
          <li class="orbit-slide">
            <div class="testimonial-wrap">
            	<div class="row">
            		<div class="small-1 large-1 columns testimonial">
            			<div class="quote-marks">&#8220;</div>
            		</div>
            		<div class="small-11 large-11 columns testimonial">
            			<div class="quote">
            				<p>I didn't want to waste time sitting in the sun to get a tan, instead I called Karin over at islandtan2go.com to get a easy, fast and convenient tan. Now I look great!</p>
            			</div>
            			<div class="client">
            				<p>Taylor R.</p>
            			</div>
            		</div>
            	</div>
          	</div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div id="about" class="about-section" data-magellan-target="about">
    <div class="row section">
      <div class="large-12 columns">
        <h2 class="text-center">About</h2>
        <hr class="style-two medium-11 medium-centered columns">
        <br>
        <img src="assets/img/karintar-min.png" class="column small-centered karintar" alt="It's a picture of me, Karin!">
        <br>
        <h4 class="text-center"><strong>Karin</strong></h4>
        <p class="medium-10 medium-centered columns text-center">Island Tan 2 Go Mobile Airbrush Tanning was created by Karin in Honolulu, Hawaii in 2008. Karin was the pioneer of Mobile Airbrush Tanning on the Island of Oahu.  Karin is a Licensed Esthetician in 3 states and continues to learn and grow in the sunless tanning industry.</p>
        <p class="medium-9 medium-centered columns text-center">At Island Tan 2 Go, you can put your fear of turning orange to rest! We work with you in the privacy of your own home and our goal is for your to be comfortable and look natural. Our solutions are mixed custom to YOUR specific undertone and skintype for a natural tan, everytime! Fades gradually,  No orange. No blotchy patches. Bronzed. Flawless. Beautiful.</p>
        <div class="row">
          <hr class="style-two medium-3 medium-centered columns">
          <div class="social-container">
            <a href="https://www.facebook.com/islandtan2go/", target='_blank'><div class="fb"></div></a>
            <a href="https://twitter.com/islandtan2g", target='_blank'><div class="tw"></div></a>
            <a href="https://www.instagram.com/island.tan.2.go/", target='_blank'><div class="ig"></div></a>
            <a href="mailto:&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;"><div class="ml">
          </div></a>
          </div>
        </div>
        <br>
        <div class="row">
          <h5 class="text-center"><strong>Follow me and sign up for the newsletter for specials!</strong><h5>
            <div class="medium-6 medium-centered columns">
              <br>
              <div id="mc_embed_signup">
                <form action="//islandtan2go.us13.list-manage.com/subscribe/post?u=65c850193d9c56821af1fbd39&amp;id=93084e85ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div id="mc_embed_signup_scroll">
                      <div class="input-group">
                        <input type="email" value="" name="EMAIL" class="input-group-field" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_65c850193d9c56821af1fbd39_93084e85ce" tabindex="-1" value=""></div>
                        <div class="input-group-button">
                          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="input-group-button button">
                        </div>
                      </div>
                    </div>
                </form>
              </div>
              <!--End mc_embed_signup-->
            </div>
          </div>
        </div>
    </div>
</div>

<div id="faq" class="faq-section" data-magellan-target="faq">
  <div class="row section ">
    <h2 class="text-center">FAQ's</h2>
    <hr class="style-two medium-11 medium-centered columns">
    <br>
    <div class="medium-12 columns">
      <ul class="accordion" data-accordion>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Is Airbrush Tanning safe?</a>
          <div class="accordion-content" data-tab-content>
            Yes it is! The FDA approved Dihydroxyacetone (DHA), a sugar cane derivative that results in the tan, for safety in 1973. When applied to the skin, DHA only penetrates the top layer of the skin and does not absorb into the body or the bloodstream. How does DHA work? Dihydroxyacentone (DHA) interacts with the dead surface cells in the outermost layer of the skin to darken the skin color. The tan fades as the dead surface cells shed or exfoliate.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Why Airbrush Tanning?</a>
          <div class="accordion-content" data-tab-content>
            Airbrush Tanning does not involve any UV rays, allowing people to tan more often without worrying about overexposure. Unlike tanning beds and sunlight, there are no long-term ultra-violet carcinogenic dangers with Airbrush Tanning. This healthy tan goes beautifully over an existing tan and can even out or eliminate any tan lines. For the un-tanned and fair of skin, our premium quality Airbrush products will fool your friends into thinking you've become a sun goddess overnight!
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">How long does an Airbrush Tan last?</a>
          <div class="accordion-content" data-tab-content>
            An Airbrushed Tan will typically last 5-7 days, depending on your skin type and how well you care for it following your tanning session. Airbrush Tanning produces color on the outermost layer of the skin, which is then discarded cell-by-cell. If you wear your skin hard, take long hot baths or showers, wear clothes that chafe, or do anything to encourage the skin to "shed," so will your tan. You can extend the life of your tan by using a Maintainer lotion at least once daily, but just like a natural suntan, the Airbrush Tanning results are temporary.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">How do I prepare for my Airbrush Tan?</a>
          <div class="accordion-content" data-tab-content>
            Shower and exfoliate preferably one hour before your airbrush tan as it is important to have clean, dry skin. For best results, exfoliate with mesh gloves or a wash cloth in order to remove dead skin cells. This will provide an even coverage and will help to lengthen the duration of your tan. It is also a good idea to shave 8-12 hours before your Airbrush Tan. Refrain from wear moisturizers, sunscreen, perfume, make up, deodorant or anything on your skin as it can act as a barrier to the tanning solution.
          </div>
          <div class="accordion-content" data-tab-content>
            <strong>"Will my final tan be the same color as the initial "Bronze" color I see sprayed onto my skin?"</strong> Most likely No. The initial "Bronze" color is simply so you can see where the tanner is being applied. This "bronze" color will wash off once you bathe. The resulting skin color will be from the DHA reaction and be dependent on skin type and amount of tanner initially applied to the skin.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">What should I wear?</a>
          <div class="accordion-content" data-tab-content>
            Loose fitting dark clothing is recommended to wear to your appointment and for the remaining of the day. For women we suggest you wear a dark colored bikini, a dark bra, panties or thong. We do have disposable thongs and panties if needed. Men should wear dark colored shorts, boxers or briefs. If you prefer to avoid tan lines, we do offer professional topless or completely nude tanning. Refrain from wear denim, tight pants, and tight fitting undergarments such as underwire bras or sports bras of any kind directly following your Airbrush Tanning session. These garments are made to fit snug and could cause tan lines where there weren't any before. Tennis shoes are too snug and will erase your tan before it has a chance to develop. Non-leather flip-flops or slippers are recommended or loose clog style shoes are optimal for colder weather.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Is it OK for people of any age to get Airbrush Tanning?</a>
          <div class="accordion-content" data-tab-content>
            If you are 18 or younger, a parent must accompany you to your tanning session as well as agree to sign a consent form. Shorts must be worn for boys and a bathing suit must be worn for girls.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Do I have to wear sunscreen?</a>
          <div class="accordion-content" data-tab-content>
            YES! There is no sunscreen in spray tan solution. Please apply the appropriate SPF daily.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Can I still get Airbrush Tanning if I am pregnant?</a>
          <div class="accordion-content" data-tab-content>
            We prefer not to spray pregnant women. There are not enough studies done on DHA and pregnancy.  DHA stands for dihydroxyacetone, derived from sugar cane, which works with the amino acids in your skin to turn it brown.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Products to Avoid</a>
          <div class="accordion-content" data-tab-content>
            Here is a list of commonly used body care products that can lighten, fade or make a sunless tan blotchy. This list in not all-inclusive and not everyone will have problems with these items. This is only a guide. A woman’s tan may develop differently during various hormonal changes (ovulation, menstruation, pregnancy).  The tan may be streaky, patchy, fade badly, or produce lighter or no color.
            <p>
              <ul class="no-bullet">
                <li> products (Alpha Hydroxy Acids, Glycolic, Lactic, Malic, Citric, and Tartaric acids)</li>
                <hr>
                <li>Acne products that exfoliate, or dry the skin- Accutane, Salicylic Acid, Skin Peels, Antibiotics, or other medications that can affect your skin can affect your tan.</li>
                <hr>
                <li>Anti aging products that “renew” “refresh” or otherwise exfoliate skin</li>
                <hr>
                <li>Band-Aid or adhesive tape applied to the skin will pull a tan off.</li>
                <hr>
                <li>Bar soaps, (especially deodorant brands) or antibacterial varieties.</li>
                <hr>
                <li>BHA Products (Beta Hydroxy Acids-salicylic acids)</li>
                <hr>
                <li>Body Hair Bleach Products</li>
                <hr>
                <li>Bore type adhesive facial strips or peel off masks</li>
                <hr>
                <li>Bug sprays, perfumes, body sprays when applied directly onto skin, can fade a tan.  Spray clothing or a cloud of spray you can walk through rather than directly onto skin.</li>
                <hr>
                <li>Curel Lotion and Dove Products can destroy a tan.</li>
                <hr>
                <li>Exfoliating Scrubs</li>
                <hr>
                <li>Hair Inhibiting Lotions tend to make a sunless tan yellow</li>
                <hr>
                <li>Exercising heavily</li>
                <hr>
                <li>In winter, skin is often dry and can fade a tan faster.  Recommend using a good moisturizer more during winter months.</li>
                <hr>
                <li>  Makeup remover cleaning products or oils used to clean away eye makeup.</li>
                <hr>
                <li>Retin A type products (Retin-A, Renova, Tazorac, and Tretinoin) can cause faster fading.</li>
                <hr>
                <li>When shaving, use a sharp clean razor with a lubricating product.  Hair conditioner works nicely and usually won’t damage tan.  Wash off conditioner when done.  A dull razor scrapes off more skin and “tan”</li>
                <hr>
                <li>Chlorine in hot tub or swimming pool can strip a tan quickly.  Try a waterproof  sun block (Bullfrog is a good one)</li>
                <hr>
                <li>Toners containing Alcohol or Witch Hazel (if listed in top 3 ingredients)</li>
                <hr>
                <li>Wax or Depilatory hair removal products</li>
              </ul>
            </p>
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Will your solution stain my clothes?</a>
          <div class="accordion-content" data-tab-content>
            It is recommended to wear dark loose fitting clothing after your tan and until you take a shower. The solution is known to stain rayon, nylon, leather and wool so please prepare accordingly. Island Tan 2 Go Mobile Airbrush Tanning is not responsible for any staining. A waiver stating this will be required to be completed at the time of your appointment.
          </div>
        </li>
        <li class="accordion-item" data-accordion-item>
          <a href="#" class="accordion-title">Can I workout after I get my tan?</a>
          <div class="accordion-content" data-tab-content>
            It is not recommended that you work out, sweat, shower or swim until at least 8 hours after your tanning session. Refrain from applying any lotions or moisturizers while your tan is developing during this 8 hour period.
          </div>
        </li>
      </ul>
      <p class="text-center">If you don't see your question above, please feel free to contact me! <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></p>
    </div>
  </div>
</div>

  <div id="contact" class="contact-section" data-magellan-target="contact">
    <div class="row section">
      <h2 class="text-center">Contact</h2>
      <hr class="style-two medium-11 medium-centered columns">
      <h4 class="text-center">Have a testimonial or question?</h4>
      <h6 class="text-center"><em>I would love to hear from you!</em></h6>
      <div class="medium-6 columns">
        <form data-abide novalidate class="validate" target="_blank" id="contact-form" method="post" action="https://formspree.io/&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;">
          <input type="hidden" name="_next" value="" />
          <input type="hidden" name="_subject" value="New Conatact Form Submission!" />
          <input type="text" name="_gotcha" style="display:none" />
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>First Name*
                <input type="text" name="firstName" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>Last Name*
                <input type="text" name="lastName" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>Email*
                <input type="email" name="email" required>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-10 small-centered columns">
              <label>
                Message
                <textarea name="message" required></textarea>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-10 small-centered columns">
              <button class="button float-right show-for-medium" type="submit" form="contact-form" value="Submit">Submit</button>
              <button class="button expanded show-for-small-only" type="submit" form="contact-form" value="Submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="small-12 medium-6 columns">
        <div class="contact-out">
          <div class="contact-in">
            <div class="row">
              <div class="small-2 small-offset-2 medium-2 medium-offset-2 columns text-center"><i class="fa fa-sun-o" aria-hidden="true"></i></div>
              <p class="small-8 medium-8 columns">Karin</p>
            </div>
            <div class="row">
              <div class="small-2 small-offset-2 medium-2 medium-offset-2 columns text-center"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              <p class="small-8 medium-8 columns">401.286.2889<br><span class="subheader">Texting OK!</span></p>
            </div>
            <div class="row">
              <div class="small-2 small-offset-1 medium-2 medium-offset-2 columns text-center"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
              <p class="small-9 medium-8 columns"><a href="mailto:&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;">&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;</a></p>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="social-container">
                <a href="https://www.facebook.com/islandtan2go/", target='_blank'><div class="fb"></div></a>
                <a href="https://twitter.com/islandtan2g", target='_blank'><div class="tw"></div></a>
                <a href="https://www.instagram.com/island.tan.2.go/", target='_blank'><div class="ig"></div></a>
                <a href="mailto:&#107;&#97;&#114;&#105;&#110;&#64;&#105;&#115;&#108;&#97;&#110;&#100;&#116;&#97;&#110;&#50;&#103;&#111;&#46;&#99;&#111;&#109;"><div class="ml">
              </div></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="expanded row">
    <p class="text-center">COPYRIGHT &copy; <script type="text/javascript">var d = new Date();var n = d.getFullYear();document.write(n);</script> ISLAND TAN 2 GO</p>
  </div>
</footer>
